<!-- templates/pages/dashboard.html -->
{% extends "components/base.html" %}
{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Dashboard</h1>
  
  {% include 'components/search-component.html' %}
    
    <h2 class="title is-4">Ödünç Aldığınız Kitaplar</h2>
    <div class="columns is-multiline">
      {% for copy in borrowed_copies %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ copy.book.cover_image.url }}" alt="{{ copy.book.title }}">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-5">{{ copy.book.title }}</p>
            <p class="subtitle is-6">{{ copy.book.author.name }}</p>
            <div class="content">
              <strong>İade Tarihi:</strong> {{ copy.due_date }}
            </div>
            <div class="buttons is-right">
              <a href="{% url 'return-copy' copy.id %}" class="button is-danger is-small">İade Et</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <p>Henüz herhangi bir kitap ödünç almadınız.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
