{% extends "components/base.html" %}
{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">Yeni Şifre Belirle</h1>
        <form method="post">
          {% csrf_token %}
          {% if error_message %}
          <p class="help is-danger">{{ error_message }}</p>
          {% endif %}
          
          <div class="field">
            <label class="label" for="new_password">Yeni Şifre</label>
            <div class="control has-icons-left">
              <input class="input" type="password" name="new_password" id="new_password" placeholder="Yeni şifreniz" required>
              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </div>
          </div>

          <div class="field">
            <label class="label" for="new_password2">Yeni Şifre (Tekrar)</label>
            <div class="control has-icons-left">
              <input class="input" type="password" name="new_password2" id="new_password2" placeholder="Yeni şifrenizi tekrar girin" required>
              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth" type="submit">Şifreyi Sıfırla</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
